<form class="ui form" action="/dashboard/{{member.id}}/addassessment" method="POST">
  <div class="three fields">
    <div class="field">
      <label>&nbsp; &nbsp; &nbsp; Weight (kg)</label>
      <input placeholder="Weight (kg)" type="text" name="weight">
    </div>
    <div class="field">
      <label>&nbsp; &nbsp; &nbsp; Chest (mm)</label>
      <input placeholder="Chest (mm)" type="text" name="chest">
    </div>
    <div class="field">
      <label>&nbsp; &nbsp; &nbsp; Thigh (mm)</label>
      <input placeholder="Thigh (mm)" type="text" name="thigh">
    </div>
  </div>
  <div class="three fields">
    <div class="field">
      <label>&nbsp; &nbsp; &nbsp; Upper Arm (mm)</label>
      <input placeholder="Upper Arm (mm)" type="text" name="upperArm">
    </div>
    <div class="field">
      <label>&nbsp; &nbsp; &nbsp; Waist (mm)</label>
      <input placeholder="Waist (mm)" type="text" name="waist">
    </div>
    <div class="field">
      <label>&nbsp; &nbsp; &nbsp; Hips (mm)</label>
      <input placeholder="Hips (mm)" type="text" name="hips">
    </div>
  </div>
  <button class="ui blue submit button">Submit</button>
</form>