<div class="ui two column">
  <form class="ui stacked segment form" action="/dashboard/{{member.id}}/addassessment" method="POST">
    <h3 class="ui header">Add Assessment</h3>
    <div class="three fields">
      <div class="field">
        <label>&nbsp; &nbsp; &nbsp; Weight</label>
        <input placeholder="Weight" type="text" name="weight">
      </div>
      <div class="field">
        <label>&nbsp; &nbsp; &nbsp; Chest</label>
        <input placeholder="Chest" type="text" name="chest">
      </div>
      <div class="field">
        <label>&nbsp; &nbsp; &nbsp; Thigh</label>
        <input placeholder="Thigh" type="text" name="thigh">
      </div>
    </div>
    <div class="three fields">
      <div class="field">
        <label>&nbsp; &nbsp; &nbsp; Upper Arm</label>
        <input placeholder="Upper Arm" type="text" name="upperArm">
      </div>
      <div class="field">
        <label>&nbsp; &nbsp; &nbsp; Waist</label>
        <input placeholder="Waist" type="text" name="waist">
      </div>
      <div class="field">
        <label>&nbsp; &nbsp; &nbsp; Hips</label>
        <input placeholder="Hips" type="text" name="hips">
      </div>
    </div>
    <button class="ui blue submit button">Submit</button>
  </form>
</div>