<div class="ui two column">
  <form class="ui form" action="/settings/update" method="POST">
    <br>
    <h4 class="ui dividing header">Basic Information</h4>
    <div class="three fields">
      <div class="field">
        <label>&nbsp; &nbsp; &nbsp; Class Name</label>
        <input placeholder="Class Name" type="text" name="classname">
      </div>
      <div class="field">
        <label>&nbsp; &nbsp; Difficulty</label>
        <select class="ui fluid search dropdown" name="difficulty">
          <option value="" hidden>Difficulty</option>
          <option value="Beginners">Beginners</option>
          <option value="Intermediate">Intermediate</option>
          <option value="Advanced">Advanced</option>
        </select>
      </div>
      <div class="field">
        <label>&nbsp; &nbsp; &nbsp; Max Members</label>
        <input placeholder="Max Members" type="text" name="maxmembers">
      </div>
    </div>
    <h4 class="ui dividing header">Duration</h4>
    <div class="three fields">
      <div class="field">
        <label>&nbsp; &nbsp; &nbsp; Hours</label>
        <input placeholder="Hours" type="number" step="1.00" max="23" maxlength="2" name="hours">
      </div>
      <div class="field">
        <label>&nbsp; &nbsp; &nbsp; Mins</label>
        <input placeholder="Mins" type="number" step="1.00" max="59" maxlength="2" name="mins">
      </div>
      <div class="field">
        <label>&nbsp; &nbsp; &nbsp; No. of Weeks</label>
        <input placeholder="No. of Weeks" type="number" step="1.00" max="52" maxlength="2" name="weeks">
      </div>
    </div>

    <h4 class="ui dividing header">Time and Days</h4>
    <div class="three fields">
      <div class="field">
        <label>&nbsp; &nbsp; &nbsp; Hour</label>
        <input placeholder="Hour" type="number" step="1.00" max="23" maxlength="2" name="timehour">
      </div>
      <div class="field">
        <label>&nbsp; &nbsp; &nbsp; Min</label>
        <input placeholder="Min" type="number" step="1.00" max="59" maxlength="2" name="timemin">
      </div>
      <div class="field">
        <label>&nbsp; &nbsp; &nbsp; Days</label>
        <select name="days" multiple="" class="ui fluid dropdown">
          <option value="">Days</option>
          <option value="Monday">Monday</option>
          <option value="Tuesday">Tuesday</option>
          <option value="Wednesday">Wednesday</option>
          <option value="Thursday">Thursday</option>
          <option value="Friday">Friday</option>
          <option value="Saturday">Saturday</option>
          <option value="Sunday">Sunday</option>
        </select>
      </div>
    </div>

    <h4 class="ui dividing header">Details</h4>
    <div class="two fields">
      <div class="sixteen wide field">
        <label>&nbsp; &nbsp; &nbsp; Bio (100 words max)</label>
        <textarea rows="3" maxlength="600" placeholder="Description here..."></textarea>
      </div>
      <div class="field">
        <label>&nbsp; &nbsp; &nbsp; Images</label>
        <div class="ui fluid simple selection dropdown" style="height:75px;">
          <input type="hidden" name="image">
          <i class="dropdown icon"></i>
          <div class="default text">Pick an image...</div>
          <div class="menu" style="overflow:auto;max-height:239px;">
            {{#each stockAlbum}}
              <div class="item" data-value="{{this.image}}">
                <img class="ui massive image" src="{{this.image}}">
                {{this.title}}
              </div>
            {{/each}}
          </div>
        </div>
        <script>
          $('.dropdown').dropdown();
        </script>
      </div>
    </div>
    <br>
    <button class="ui blue submit button">Submit</button>
  </form>
</div>