<div class="ui two column">
  <form class="ui form" action="/classes/addClass" method="POST">
    <br>
    <h4 class="ui dividing header">Basic Information</h4>
    <div class="three fields">
      <div class="field">
        <label>&nbsp; &nbsp; &nbsp; Class Name</label>
        <input placeholder="Class Name" name="className">
      </div>
      <div class="field">
        <label>&nbsp; &nbsp; Difficulty</label>
        <select class="ui fluid search dropdown" name="difficulty">
          <option value="" hidden>Difficulty</option>
          <option value="Beginners">Beginners</option>
          <option value="Intermediate">Intermediate</option>
          <option value="Advanced">Advanced</option>
        </select>
      </div>
      <div class="field">
        <label>&nbsp; &nbsp; &nbsp; Max Members</label>
        <input placeholder="Max Members" type="number" step="1.00" maxlength="2" min="00" name="maxMembers">
      </div>
    </div>

    <h4 class="ui dividing header">Duration</h4>
    <div class="fields">
      <div class="field">
        <label>&nbsp; &nbsp; &nbsp; Hours</label>
        <input placeholder="Hours" type="number" step="1.00" max="23" min="00" maxlength="2" name="durHours">
      </div>
      <div class="field">
        <label>&nbsp; &nbsp; &nbsp; Mins</label>
        <input placeholder="Mins" type="number" step="15.0" max="59" min="00" maxlength="2" name="durMins">
      </div>
      <div class="field">
        <label>&nbsp; &nbsp; &nbsp; Start Date</label>
        <div class="two fields">
          <div class="field">
            <select name="dateStartDay" class="ui two wide dropdown">
              <option value="" hidden>Day</option>
              <option value="01">01</option>
              <option value="02">02</option>
              <option value="03">03</option>
              <option value="04">04</option>
              <option value="05">05</option>
              <option value="06">06</option>
              <option value="07">07</option>
              <option value="08">08</option>
              <option value="09">09</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
            </select>
          </div>
          <div class="field">
            <select name="dateStartMonth" class="ui dropdown">
              <option value="" hidden>Month</option>
              <option value="01">January</option>
              <option value="02">February</option>
              <option value="03">March</option>
              <option value="04">April</option>
              <option value="05">May</option>
              <option value="06">June</option>
              <option value="07">July</option>
              <option value="08">August</option>
              <option value="09">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
            </select>
          </div>
        </div>
      </div>
      <div class="field">
        <label>&nbsp; &nbsp; &nbsp; End Date</label>
        <div class="two fields">
          <div class="field">
            <select name="dateEndDay" class="ui two wide dropdown">
              <option value="" hidden>Day</option>
              <option value="01">01</option>
              <option value="02">02</option>
              <option value="03">03</option>
              <option value="04">04</option>
              <option value="05">05</option>
              <option value="06">06</option>
              <option value="07">07</option>
              <option value="08">08</option>
              <option value="09">09</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
            </select>
          </div>
          <div class="field">
            <select name="dateEndMonth" class="ui dropdown">
              <option value="" hidden>Month</option>
              <option value="01">January</option>
              <option value="02">February</option>
              <option value="03">March</option>
              <option value="04">April</option>
              <option value="05">May</option>
              <option value="06">June</option>
              <option value="07">July</option>
              <option value="08">August</option>
              <option value="09">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <h4 class="ui dividing header">Time and Days</h4>
    <div class="three fields">
      <div class="field">
        <label>&nbsp; &nbsp; &nbsp; Start Time</label>
        <input placeholder="Start Time" type="time" name="timeStart">
      </div>
      <div class="field">
        <label>&nbsp; &nbsp; &nbsp; End Time</label>
        <input placeholder="End Time" type="time" name="timeEnd">
      </div>
      <div class="field">
        <label>&nbsp; &nbsp; &nbsp; Days</label>
        <select name="days" multiple="" class="ui fluid dropdown">
          <option value="">Days</option>
          <option value="Monday">Monday</option>
          <option value="Tuesday">Tuesday</option>
          <option value="Wednesday">Wednesday</option>
          <option value="Thursday">Thursday</option>
          <option value="Friday">Friday</option>
          <option value="Saturday">Saturday</option>
          <option value="Sunday">Sunday</option>
        </select>
      </div>
    </div>

    <h4 class="ui dividing header">Details</h4>
    <div class="two fields">
      <div class="sixteen wide field">
        <label>&nbsp; &nbsp; &nbsp; Bio (100 words max)</label>
        <textarea name="bio" rows="3" maxlength="600" placeholder="Description here..."></textarea>
      </div>
      <div class="field">
        <label>&nbsp; &nbsp; &nbsp; Images</label>
        <div class="ui fluid simple selection dropdown" style="height:75px;">
          <input type="hidden" name="image">
          <i class="dropdown icon"></i>
          <div class="default text">Pick an image...</div>
          <div class="menu" style="overflow:auto;max-height:239px;">
            {{#each stockAlbum}}
              <div class="item" data-value="{{this.image}}">
                <img class="ui massive image" src="{{this.image}}">
                {{this.title}}
              </div>
            {{/each}}
          </div>
        </div>
        <script>
          $('.dropdown').dropdown();
        </script>
      </div>
    </div>
    <br>
    <button class="ui blue submit button">Submit</button>
  </form>
</div>