<form class="ui segment form" action="/dashboard/{{member.id}}/addgoal" method="POST">
  <div class="two fields">
    <div class="twelve wide field">
      <label>Goal</label>
      <input placeholder="Goal" type="text" name="goal">
    </div>
    <div class="field">
      <label>Achieved by:</label>
      <div class="field">
        <input placeholder="Date" type="date" name="goalDate">
      </div>
    </div>
  </div>
  <button class="ui blue submit button">Add Goal</button>
</form>