<form class="ui form" action="/dashboard/{{member.id}}/addgoal" method="POST">
  <div class="three fields">
    <div class="field">
      <label>&nbsp; &nbsp; &nbsp; Weight (kg)</label>
      <input placeholder="Weight (kg)" type="text" name="goalWeight" required>
    </div>
    <div class="field">
      <label>&nbsp; &nbsp; &nbsp; Chest (mm)</label>
      <input placeholder="Chest (mm)" type="text" name="goalChest" required>
    </div>
    <div class="field">
      <label>&nbsp; &nbsp; &nbsp; Thigh (mm)</label>
      <input placeholder="Thigh (mm)" type="text" name="goalThigh" required>
    </div>
  </div>
  <div class="three fields">
    <div class="field">
      <label>&nbsp; &nbsp; &nbsp; Upper Arm (mm)</label>
      <input placeholder="Upper Arm (mm)" type="text" name="goalUpperArm" required>
    </div>
    <div class="field">
      <label>&nbsp; &nbsp; &nbsp; Waist (mm)</label>
      <input placeholder="Waist (mm)" type="text" name="goalWaist" required>
    </div>
    <div class="field">
      <label>&nbsp; &nbsp; &nbsp; Hips (mm)</label>
      <input placeholder="Hips (mm)" type="text" name="goalHips" required>
    </div>
  </div>
  <div class="two fields">
    <div class="sixteen wide field">
      <label>&nbsp; &nbsp; &nbsp; Comment</label>
      <textarea name="goalComment" rows="1" maxlength="50" placeholder="Comment Here..."></textarea>
    </div>
    <div class="field">
      <label>&nbsp; &nbsp; &nbsp; Achieved by:</label>
      <div class="field">
        <input placeholder="Date" type="date" name="goalDate" required>
      </div>
    </div>
  </div>
  <button class="ui blue submit button">Add Goal</button>
</form>