<form class="ui segment form">
  <div class="ui three statistics">
    <div class="statistic">
      <div class="value">
        <i class="{{bmi.idealWeight}} dashboard icon"></i>
      </div>
      <div class="label">
        Ideal Weight Indicator
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        <i class="heartbeat icon"></i> {{bmi.bmi}}
      </div>
      <div class="label">
        BMI Value
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        <i class="doctor icon"></i>
      </div>
      <div class="label">
        {{bmi.bmiCategory}}
      </div>
    </div>
  </div>
</form>