<form class="ui form" action="/dashboard/{{member.id}}/bookassessment" method="POST">
  <div class="four fields">
    <div class="field">
      <label>&nbsp; &nbsp; &nbsp; Day</label>
      <input placeholder="Day" type="text" name="day">
    </div>
    <div class="field">
      <label>&nbsp; &nbsp; &nbsp; Month</label>
      <input placeholder="Month" type="text" name="month">
    </div>
    <div class="field">
      <label>&nbsp; &nbsp; &nbsp; Time</label>
      <input placeholder="Time" type="time" name="time">
    </div>
    <div class="field">
    <label>&nbsp; &nbsp; &nbsp; Trainer</label>
    <input placeholder="Upper Arm" type="text" name="upperArm">
  </div>
  </div>
  <button class="ui blue submit button">Submit</button>
</form>