<table class="ui table">
  <thead>
    <tr>
      <th>Goal</th>
      <th>Achieve by:</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each goallist}}
        <tr>
          <td>
            {{goal}}
          </td>
          <td>
            {{longDateNoTime date}}
          </td>
          <td></td>
          <td>
            <a href="/dashboard/{{../member.id}}/deletegoal/{{goalid}}" style="float:right;" class="ui red icon button"><i class = "trash icon"></i></a>
          </td>
        </tr>
    {{/each}}
  </tbody>
</table>