{{> menu id="dashboard"}}

<div class="ui equal width padded grid">
  <div class = "four wide column">
      {{> profilecard}}
  </div>

  <div class = "twelve wide align right column padded">
    <section class="ui raised segment">
      {{> bmi}}
    </section>
    <section class="ui raised segment">
      <h2 class="ui dividing header">Assessments</h2>
      {{> listassessments}}
      {{> addassessments}}
    </section>
    <section class="ui raised segment">
      <h2 class="ui dividing header">Goals</h2>
      {{> listgoals}}
      {{> addgoal}}
    </section>
  </div>
</div>