{{> menu id="dashboard"}}

<div class="ui equal width padded grid">
  <div class = "four wide column">
      {{> profilecard}}
  </div>

  <div class = "twelve wide align right column padded">
  <section class="ui raised segment">
    {{> listplaylists}}
    {{> addgoal}}
  </section>
  </div>
</div>