{{> menu id="dashboard"}}

<section class="ui raised segment">
  <form class="ui twelve wide form" action="/editbooking/{{user.id}}/{{booking.bookid}}/setbooking" method="POST">
    {{#if user.trainer}}
      {{> trainereditbook}}
    {{else}}
      {{> membereditbook}}
    {{/if}}
  </form>
</section>
