{{> menu id="dashboard"}}

<section class="ui padded segment" id="assessmentTabs">
  <h2 class="ui dividing header">Edit Class Information</h2>
  <div class="ui pointing secondary demo menu">
    <a class="active item" data-tab="first">Basic Info</a>
    <a class="item" data-tab="second">Lesson Info</a>
  </div>

  <div class="ui active tab" data-tab="first" style="padding: 10px;">{{> editclassbasic}}</div>
  <div class="ui tab" data-tab="second" style="padding: 10px;">{{> editclasslesson}}</div>
</section>
<script type="text/javascript">
  $(document).ready(function(){
    $('.demo.menu .item').tab({history:false});
  });

  $('.dropdown').dropdown();

  const today = new Date().toISOString().split('T')[0];
  document.getElementsByName("startDate")[0].setAttribute('min', today);
  document.getElementsByName("endDate")[0].setAttribute('min', today);
</script>
