{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
  <div class="column">
    <img class="ui image" src="http://res.cloudinary.com/ngrant/image/upload/v1499432690/hitthegym_vrndrf.jpg">
  </div>
  <h1 class="ui header">
    Welcome to the Bro Science Gym Website!
  </h1>
  <p>
    Want to get super buff bro? Sign up!<br>
    Already getting them sick gains? Log in!
  </p>
</section>