{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to the Bro Science Gym Website!
  </h1>
  <p>
    Want to get super buff bro? Sign up!<br>
    Already getting them sick gains? Log in!
  </p>
</section>