{{> menu id="dashboard"}}

<section class="ui padded segment" id="assessmentTabs">
  <h2 class="ui dividing header">{{user.firstname}} {{user.lastname}}'s Dashboard</h2>
  <div class="ui pointing secondary demo menu">
    <a class="active item" data-tab="first">Members List</a>
    <a class="item" data-tab="second">Add Class</a>
    <a class="item" data-tab="third">Assessment Bookings</a>
  </div>

  <div class="ui active tab" data-tab="first">{{> listMembers}}</div>
  <div class="ui tab" data-tab="second" style="padding: 10px;">{{> addclasses}}</div>
  <div class="ui tab" data-tab="third" style="padding: 10px;">
    <form class="ui twelve wide form" action="/dashboard/{{user.id}}/bookassessment" method="POST">
      {{> trainerlistbookings}}
      {{> trainerbookassess}}
    </form>
  </div>
</section>
<script type="text/javascript">
  $(document).ready(function(){
    $('.demo.menu .item').tab({history:false});
  });
</script>
<br>